* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #faf8ef;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 80px;
    line-height: 0.8;
    color: #776e65;
}
h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 0.8;
    color: #ffffff;
}
#score {
    font-size: 30px;
    line-height: 0.9;
    font-weight: 800;
    color: #ffffff;
}
.info {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
}
.score-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: fit-content;
    padding: 10px;
    background-color: #b01f8c;
    border-radius: 10px;
}
hr {
    border: 1px solid #776e65;
}
.board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: #cdc1b5;
    border: 5px solid #bbada0;
}
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin: 5px;
    font-size: 30px;
    font-weight: 800;
}
/* colored tiles */
.x2 {
    background-color: #eee4da;
    color: #727371;
}
.x4 {
    background-color: #ece0ca;
    color: #727371;
}
.x8 {
    background-color: #f4b17a;
    color: white;
}
.x16{
    background-color: #f59575;
    color: white;
}
.x32{
    background-color: #f57c5f;
    color: white;
}
.x64{
    background-color: #f65d3b;
    color: white;
}
.x128{
    background-color: #edce71;
    color: white;
}
.x256{
    background-color: #edcc63;
    color: white;
}
.x512{
    background-color: #edc651;
    color: white;
}
.x1024{
    background-color: #eec744;
    color: white;
}
.x2048{
    background-color: #ecc230;
    color: white;
}
.x4096 {
    background-color: #fe3d3d;
    color: white;
}
.x8192 {
    background-color: #ff2020;
    color: white;
}
